:root {
    --primary: rgb(204, 64, 185);
    --secondary: #6348fe;
    --dark: #212121;
    --light: #F3F3F3;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;

}

.card-flip {
    margin: 100px auto 0;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    // display: flex;

}

.card-flip__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-flip__inner.is-flipped {
    transform: rotateY(180deg);
}


.card-flip__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);

}

.card-flip__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.card-flip__face--front h2 {
    color: #FFF;
    font-size: 32px;
    text-align: center;
}

.card-flip__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
}

.card-flip__content {
    width: 100%;
    height: 100%;
}

.card-flip__header {
    position: relative;
    padding: 30px 30px 40px;
}

.card-flip__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
}

.pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
}

.card-flip__header h2 {
    color: #FFF;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.card-flip__body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-flip__body h3 {
    color: var(--dark);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card-flip__body p {
    color: var(--dark);
    font-size: 14px;
    line-height: 1.4;
}

.container_cards_2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    padding: 100px;
}