.section-stars {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/Nebula.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.set-stars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.set-stars div {
    position: absolute;
    display: block;
}

.set-stars div:nth-child(1) {
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}

.set-stars div:nth-child(2) {
    left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}

.set-stars div:nth-child(3) {
    left: 70%;
    animation: animate 25s linear infinite;
}

.set-stars div:nth-child(4) {
    left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}

.set-stars div:nth-child(5) {
    left: 85%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}

.set-stars div:nth-child(6) {
    left: 0%;
    animation: animate 12s linear infinite;

}

.set-stars div:nth-child(7) {
    left: 15%;
    animation: animate 14s linear infinite;
}

.set-stars div:nth-child(8) {
    left: 60%;
    animation: animate 15s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }

    10% {
        opacity: 1;
    }

    20% {
        transform: translateX(-20px) rotate(45deg);
    }

    40% {
        transform: translateX(-20px) rotate(90deg);
    }

    60% {
        transform: translateX(20px) rotate(135deg);
    }

    80% {
        transform: translateX(-20px) rotate(180deg);
    }

    100% {
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}

/* .set2 {
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);
}

.set3 {
    transform: scale(1) rotateX(90deg);
    filter: blur(3px);
} */

.set-stars img {
    width: 55px;
    height: 55px;
}